[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.9.3"
pyyaml = "==5.4.1"
requests = "==2.26.0"
pyaml-env = "*"

[dev-packages]

[requires]
python_version = "3.9"
